# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Django
db.sqlite3

# Docker
*.log

# VSCodeやエディタ関連
.vscode/
*.code-workspace

# Node/Vue関連（あとでVue作成時に必要）
node_modules/
frontend/node_modules/
dist/
frontend/dist/
